<!--Template del side bar-->
<div class="sidenav-header">
   <img 
   [width]="profilePicSize()" 
   [height]="profilePicSize()" 
   src="/assets/img/profile.webp" 
   alt="profile pic">
   <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
   <h2>Tu perfil</h2>
   <p>Juan Diego</p>
   </div>
</div>
<mat-nav-list>
    <!--Direccion del metodo para mostrar listas desde el componente-->
    <a mat-list-item 
    class="menu-item"
    *ngFor="let item of menuItems()" 
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
    >
     <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>{{item.icon}}</mat-icon>
     <span matListItemTitle>{{item.label}}</span>
    </a>
</mat-nav-list>
