<!--Etiquetas de angular material puestas desde el home de la app-->
<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set (!collapsed())">
    <mat-icon>menu</mat-icon>
    
  </button>
  <span class="toolbar-spacer"></span>
  <form >
    <div class="search">
     <mat-icon class="material-symbols-outlined">search</mat-icon>
     <input  matInput class="search-input" type="text" placeholder="Buscar" (keyup)="applyFilter($event)" >
    </div>
  </form>
  <span class="toolbar-spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
  <!--Etiqueta con metodo para que siempre se vea abierto el sidebar-->
  <mat-sidenav opened mode="side"  [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()" />
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <div *ngFor="let item of filteredItems">
      {{item}}
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
