<!--Etiquetas de angular material puestas desde el home de la app-->
<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <!--Etiqueta con metodo para que siempre se vea abierto el sidebar-->
  <mat-sidenav opened mode="side"  [style.width]="'250px'">
    <app-custom-sidenav></app-custom-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
